{% load static %}
<html>
    <head>
        <title>@__267__</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="header-small">
            {% if user.is_authenticated %}
                Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
                <a href="{% url 'list_draft_posts' %}"><span class="glyphicon glyphicon-edit"></span></a>
                <a href ="{% url 'new_post' %}"><span class="glyphicon glyphicon-plus"></span></a>
            {% else %}
                <a href="{% url 'login' %}"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        </div>
        <div class="header">
            <h1><a href="/">PROJECT @267</a></h1>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                <hr>
                </div>
            </div>
        </div>
    </body>
</html>
