{% extends 'blog/base.html' %}

{% block content %}
	<div class="post">
		<h1>{{ post.title }}</h1>
		<p>{{ post.text|linebreaksbr }}</p>
		{% if post.published_date %}
			<div class="date">
				<p>published: {{ post.published_date }}</p>
			</div>
		{% else %}
			<div class="date">
				<p>created: {{ post.created_date }}</p>
			</div>
			<a class="btn btn-default" href="{% url 'publish_post' pk=post.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
		{% endif %}
			<a class="btn btn-default" href="{% url 'edit_post' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
			<a class="btn btn-default" href="{% url 'delete_post' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
{% endblock %}